$tampa: url(https://www-league.nhlstatic.com/images/logos/teams-current-primary-light/14.svg);
$stLouise: url(https://www-league.nhlstatic.com/images/logos/teams-current-primary-light/19.svg);
$capitals: url(https://www-league.nhlstatic.com/images/logos/teams-current-primary-light/15.svg);
$penguins: url(https://www-league.nhlstatic.com/images/logos/teams-current-primary-light/5.svg);
$chicago: url(https://www-league.nhlstatic.com/images/logos/teams-current-primary-light/16.svg);
$kings: url(https://www-league.nhlstatic.com/images/logos/teams-current-primary-light/26.svg);
$boston: url(https://www-league.nhlstatic.com/images/logos/teams-current-primary-light/6.svg);