$brandColor: #005bff;
$brandColorHover: #0037ff;
$brandRate: #ff8970;

$iPhone12proGold: url("https://cdn1.ozone.ru/s3/multimedia-q/6025766378.jpg");
$iPhone12white: url("https://cdn1.ozone.ru/s3/multimedia-u/6025763826.jpg");
$iPhone12red: url("https://cdn1.ozone.ru/s3/multimedia-n/6025763819.jpg");
$iPhone12green: url("https://cdn1.ozone.ru/s3/multimedia-l/6027104745.jpg");