@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
* {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}

:focus,
:active {
	outline: none;
}

a:focus,
a:active {
	outline: none;
}

html,
body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

a,
a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

body {
	font-family: "Roboto", sans-serif;
	font-size: 16px;
}

.wrap {
	width: 100%;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.standings__heading {
	text-align: center;
	margin-bottom: 16px;
	color: #14213d;
}
.standings__table {
	background: white;
	border-radius: 10px;
	border-collapse: collapse;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
.standings__table th {
	color: #e5e5e5;
	background: #14213d;
	border-bottom: 5px solid #9ea7af;
	border-right: 1px solid #343a45;
	font-size: 24px;
	font-weight: 100;
	padding: 20px;
	text-align: left;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
	vertical-align: middle;
}
.standings__table th:first-child {
	border-top-left-radius: 10px;
}
.standings__table th:last-child {
	border-top-right-radius: 10px;
	border-right: none;
}
.standings__table tr {
	border-top: 1px solid #c1c3d1;
	border-bottom: 1px solid #c1c3d1;
	color: #666b85;
	font-size: 16px;
	font-weight: normal;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.1);
}
.standings__table tr:hover td {
	background: #fca311;
	color: white;
	border-top: 1px solid #fca311;
}
.standings__table tr:hover a {
	color: white;
}
.standings__table tr:first-child {
	border-top: none;
}
.standings__table tr:last-child {
	border-bottom: none;
}
.standings__table tr:nth-child(odd) td {
	background: #ebebeb;
}
.standings__table tr:nth-child(odd):hover td {
	background: #fca311;
}
.standings__table tr:last-child td:first-child {
	border-bottom-left-radius: 10px;
}
.standings__table tr:last-child td:last-child {
	border-bottom-right-radius: 10px;
}
.standings__table td {
	background: #ffffff;
	padding: 6px 20px 6px 20px;
	text-align: left;
	vertical-align: middle;
	font-weight: 300;
	font-size: 18px;
	text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
	border-right: 1px solid #c1c3d1;
	transition: all 0.2s ease;
}
.standings__table td:last-child {
	border-right: 0;
}
.standings__table td a {
	color: #666b85;
	transition: all 0.2s ease;
}
.standings__table td a:hover {
	color: #14213d;
}
.standings__table__teamLogo {
	height: 37px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.standings__table__teamLogo-tmp {
	background-image: url(https://www-league.nhlstatic.com/images/logos/teams-current-primary-light/14.svg);
}
.standings__table__teamLogo-stl {
	background-image: url(https://www-league.nhlstatic.com/images/logos/teams-current-primary-light/19.svg);
}
.standings__table__teamLogo-wsh {
	background-image: url(https://www-league.nhlstatic.com/images/logos/teams-current-primary-light/15.svg);
}
.standings__table__teamLogo-pit {
	background-image: url(https://www-league.nhlstatic.com/images/logos/teams-current-primary-light/5.svg);
}
.standings__table__teamLogo-chi {
	background-image: url(https://www-league.nhlstatic.com/images/logos/teams-current-primary-light/16.svg);
}
.standings__table__teamLogo-lak {
	background-image: url(https://www-league.nhlstatic.com/images/logos/teams-current-primary-light/26.svg);
}
.standings__table__teamLogo-bos {
	background-image: url(https://www-league.nhlstatic.com/images/logos/teams-current-primary-light/6.svg);
}
/*# sourceMappingURL=style.css.map */